# String

In [1]:
variable = 'This is a python class'
print(type(variable))
print(id(variable))

<class 'str'>
2659446607744

In [15]:
variable = '''Learnbay provides
"Java", "Python" 
classes'''
print("class :", variable)

class : Learnbay provides
"Java", "Python"
classes

In [ ]:
1. 'This is Python class'
valid

2. "This is Python class"
valid

3. '''This is Python class'''
valid

4. """This is Python class"""
valid

5. 'This is Python's class'
invalid

6. "Learnbay provides "Java", "Python" classes"
invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid

8. "This is Python's class"
valid

9. """Learnbay provides "Java", "Python" classes"""
valid

10. '''Learnbay provides "Java", "Python" classes'''
valid

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid

12. 'This is
Python 
class'
invalid

In [23]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."
my_str=my_str1

print("The length of my_str is",len(my_str))
print("The length of my_str1 is",len(my_str1))
print("id of my_str and my_str1 is same",id(my_str)==id(my_str1))
print("Type of my_str is:",type(my_str))

The length of my_str is 66
The length of my_str1 is 66
id of my_str and my_str1 is same True
Type of my_str is: <class 'str'>

# Indexing

In [34]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

print("The first character in my_str is:",my_str[0])
print("The first character in my_str is:",my_str[-1])
print("The first character in my_str is:",my_str[10])
print("The last character in my_str is:",my_str[-1])
print("The last character in my_str is:", my_str[len(my_str)-1])
print("The character in my_str is:",my_str[9])

The first character in my_str is: A
The first character in my_str is: h
The first character in my_str is:
The last character in my_str is: h
The last character in my_str is: h
The character in my_str is: 8

# Slicing

In [113]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
#You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step
print("you have sliced:",my_str[:])
print()
#You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step
print("you have sliced:",my_str[:len(my_str)])
print()
#You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step
print("you have sliced:",my_str[::1])
print()
#You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step
print("you have sliced:",my_str[0:len(my_str):1])
print()
#You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.
print("you have sliced:",my_str[0:0:-1])
print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth
print("you have sliced:",my_str[0:len(my_str):2])
print()
#output:- You have sliced: Ahgttam tebo  r lsorDc
print("you have sliced:",my_str[0:len(my_str):3])
print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step
print("you have sliced:",my_str[::-1])
print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.
print("you have sliced:",my_str[66:0:-1])
print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth
print("you have sliced:",my_str[0:66:2])
print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step
print("you have sliced:",my_str[::-2])
print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.
print("you have sliced:",my_str[66:0:-2])
print()
print("you have sliced:",my_str[10:17:-1])
print()
#output:- You have sliced: yaw ta, Using begin, end and step.
print("you have sliced:",my_str[17:10:-1])
print()
#output:- You have sliced: ess you. Using begin, end and step.
print("you have sliced:",my_str[-17:-10:1])

you have sliced: Although that way may not be obvious at first unless you're Dutch.

you have sliced: Although that way may not be obvious at first unless you're Dutch.

you have sliced: Although that way may not be obvious at first unless you're Dutch.

you have sliced: Although that way may not be obvious at first unless you're Dutch.

you have sliced:

you have sliced: Atog htwymyntb biu tfrtuls o'eDth

you have sliced: Ahgttam tebo  r lsorDc

you have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

you have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtl

you have sliced: Atog htwymyntb biu tfrtuls o'eDth

you have sliced: .cu ruysen si asovoe o a a athuhl

you have sliced: .cu ruysen si asovoe o a a athuhl

you have sliced:

you have sliced:  yaw ta

you have sliced: ess you

In [121]:
str1 = 'Learnbay'
str2 = 'Python'
print(str1,str2)

Learnbay Python

In [124]:
str1 = Learnbay
str2 = Python

print(str(str1)+' '+str(str2))

NameError: name 'Learnbay' is not defined

In [125]:
str1 = 'Learnbay'
str2 = 'Python'

# Output: Learnbay Python
print(str1 + ' ' + str2)

# Error: TypeError: can only concatenate str (not "int") to str
num1 = 10
num2 = 20
print(str(num1) + ' ' + str(num2))

# Error: TypeError: can only concatenate str (not "float") to str
num1 = 3.14
num2 = 2.71
print(str(num1) + ' ' + str(num2))

Learnbay Python
10 20
3.14 2.71

In [126]:
str1 = 'Learnbay'

# Output: LearnbayLearnbayLearnbay
print(str1 * 3)

# Error: TypeError: can't multiply sequence by non-int of type 'float'
num = 2.5
print(str1 * num)

# Error: TypeError: can't multiply sequence by non-int of type 'str'
text = 'Python'
print(text * str1)

LearnbayLearnbayLearnbay

TypeError: can't multiply sequence by non-int of type 'float'

In [138]:
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'


#print True by using identity operator between str1 and str2
print(str1==str2)
print()
#print False by using identity operator between str1 and str3
print(str1==str3)
print()
#print False by using identity operator between str4 and str3
print(str4!=str3)
print()
#Check if P is available in str1 and print True by using membership operator
print("P" in str1)
print()
#Check if $ is available in str3 and print True by using membership operator
print("$" in str3)
print()
#Check if N is available in str3 and print False by using membership operator
print("n" in str3)

True

False

False

True

True

True

In [142]:
str1 = 'This is Python class'
str1=str1.replace('Python','java')
print(str1)

This is java class

In [143]:
str1 = 'A'
str2 = 'A'
str1 = 'A'
str2 = 'A'

# Compare str1 and str2 and print True using comparison operator
print(str1 == str2)

# Compare str1 and str2 and print True using equality operator
print(str1 == str2)

# Compare str1 and str2 and print False using equality operator
print(str1 != str2)

# Compare str1 and str2 and print False using comparison operator
print(str1 != str2)

True
True
False
False

In [144]:
str1 = 'A'
str2 = 'a'

# Compare str1 and str2 and print True using comparison operator
print(str1 < str2 or str1 > str2)

# Compare str1 and str2 and print True using equality operator
print(str1.lower() == str2.lower())

# Compare str1 and str2 and print False using equality operator
print(str1.lower() != str2.lower())

# Compare str1 and str2 and print False using comparison operator
print(str1 > str2 or str1 < str2)

True
True
False
True

In [146]:
a = 'Python'
b = ''

# Apply logical operators (and, or & not) on above string values and observe the output.
print(a and b)   
print(a or b)    
print(not a)     
print(not b)     
print(not '')

Python
False
True
True

In [147]:
a = 'Python'
b = 'learnbay'

# Apply logical operators (and, or & not) on above string values and observe the output.
print(a and b)   
print(a or b)    
print(not a)    
print(not b)

learnbay
Python
False
False