In [ ]:
## Q. Make a employee dictionary such that emp id refere to emp name, age, email.
## stopping criteria can be a limit here or by user.
# upto 5

In [ ]:
e1 - name, age, email
e2 - name, age, email
e4 - name, age, email
e54 - name, age, email

In [1]:
emp = {}
# empList = []

for i in range(1) : 
    empID = int( input( "Mention your ID : " ) )
    name = input("Name : ")
    age = int( input('AGE : ') )
    email = input("EMAIL : ")
    
    emp[empID] = [name, age, email]

print("-------------------------------------------------------------")
print(emp )

Mention your ID : 10
Name : nitish
AGE : 30
EMAIL : n@g.com
-------------------------------------------------------------
{10: ['nitish', 30, 'n@g.com']}

In [ ]:
emp = {}
# empList = []

for i in range(5) : 
    empID = int( input( "Mention your ID : " ) )
    name = input("Name : ")
    age = int( input('AGE : ') )
    email = input("EMAIL : ")
    
    emp[empID] = [name, age, email]

print("-------------------------------------------------------------")
print(emp )

In [3]:
## a list is given below. you have to make use of dictinary such that you show its value and its square simulatneously...

myList = [1, -6, 4, -7, 11, 0, -1]
# 1 : 1, 
# -6 : 36, 
# 4 : 16, 
# -7 : 49, 
# 11 : 121, 
# 0 : 0, 
# -1 : 1


dt = {}
for i in myList : 
    dt[i] = i * i
dt

{1: 1, -6: 36, 4: 16, -7: 49, 11: 121, 0: 0, -1: 1}

In [4]:
## From the dictionary below, insert a fruit name if key is not there else insert a key - fruit name

# {'key1' : 'apple', 
# "key2" : 'mango'}

# 'key3' : "kiwi"
# 'key1' : XXXXX


fruits = {'key1' : 'apple', 
            "key2" : 'mango'}

keyName = input("Key Name : ")
if keyName not in fruits : 
    value = input("Write Fruit Name : ")
    fruits[keyName] = value
else : 
    print("Key Already Exist....")
    
fruits

Key Name : key5
Write Fruit Name : kiwi

{'key1': 'apple', 'key2': 'mango', 'key5': 'kiwi'}

In [5]:
## From the dictionary below, insert a fruit name if key is not there else insert a key - fruit name

# {'key1' : 'apple', 
# "key2" : 'mango'}

# 'key3' : "kiwi"
# 'key1' : XXXXX


fruits = {'key1' : 'apple', 
            "key2" : 'mango'}

keyName = input("Key Name : ")
if keyName not in fruits : 
    value = input("Write Fruit Name : ")
    fruits[keyName] = value
else : 
    print("Key Already Exist....")
    
fruits

Key Name : key2
Key Already Exist....

{'key1': 'apple', 'key2': 'mango'}

In [19]:
## Q1. You have been given a dictionary. you have to find out the value which contains the maximum value
## Q2. You have been given a dictionary. you have to find out the key which contains the maximum value

dt = {1 : 1, 
-6 : 36, 
4 : 16, 
-7 : 49, 
11 : 121, 
0 : 0, 
-1 : 1}

# max_value = 121
# key_for_max_value = 11

print( max( dt.values() ) )

newList = []
for v in dt.values() : 
#     print(v)
    newList.append(v)

print( newList )
newList.sort()
print( newList )
print( "Maximum Value : ",  newList[-1] )

121
[1, 36, 16, 49, 121, 0, 1]
[0, 1, 1, 16, 36, 49, 121]
Maximum Value :  121

In [22]:
## Q1. You have been given a dictionary. you have to find out the value which contains the maximum value
## Q2. You have been given a dictionary. you have to find out the key which contains the maximum value

dt = {1 : 1, 
-6 : 36, 
4 : 16, 
-7 : 49, 
11 : 121, 
0 : 0, 
-1 : 1}

# max_value = 121
# key_for_max_value = 11

newList = []
for v in dt.values() : 
#     print(v)
    newList.append(v)

newList.sort()
max_value = newList[-1]

for k, v in dt.items() : 
    if v == max_value : 
        print("Maximum Key = ", k)
    else : 
        continue

Maximum Key =  11

In [26]:
## Q1. You have been given a dictionary. you have to find out the value which contains the maximum value
## Q2. You have been given a dictionary. you have to find out the key which contains the maximum value

dt = {1 : 1, 
-6 : 36, 
4 : 16, 
-7 : 49, 
11 : 121, 
0 : 0, 
-1 : 1, 
16 : 121}

# max_value = 121
# key_for_max_value = 11

newList = []
for v in dt.values() : 
#     print(v)
    newList.append(v)

newList.sort()
max_value = newList[-1]

for k, v in dt.items() : 
    if v == max_value : 
        print("Maximum Key = ", k)
        
    else : 
        continue

Maximum Key =  11
Maximum Key =  16

In [37]:
## 8. get retrieve only value against the key if present, else return None

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}

print( dt[4] )
print( dt.get(4) )

# print( dt[8] )  # throws error 
print( dt.get(8) )

print( dt.get(1, "Key not present") )

key = 8
if key in dt : 
    print(dt[key])
else : 
    print('Key Not present')

-6.4
-6.4
None
delhi
Key Not present

In [38]:
## 9. fromkeys : geenrate a key-value pairs
myList = [10, 20, 30]
value = 'Nitish'

dt = {}
dt.fromkeys(myList, value)

{10: 'Nitish', 20: 'Nitish', 30: 'Nitish'}

In [39]:
## 9. fromkeys : geenrate a key-value pairs
myList = [10, 20, 30]
value = [100, 200, 300]

dt = {}
dt.fromkeys(myList, value)

{10: [100, 200, 300], 20: [100, 200, 300], 30: [100, 200, 300]}

In [ ]:
# 10. setdefault : 
# inserts a key value pair.
# assign a default value for the particular key. 
# if value is not given then None is taken

In [40]:
dt = {1: 100, 2 : 200}
dt.setdefault(3, 500)

dt

{1: 100, 2: 200, 3: 500}

In [41]:
dt = {1: 100, 2 : 200}
dt.setdefault(3)

dt

{1: 100, 2: 200, 3: None}

In [42]:
dt = {1: 100, 2 : 200}
dt.setdefault(3, [10, 5, 7])

dt

{1: 100, 2: 200, 3: [10, 5, 7]}

In [ ]:
# {
#     "NAme" : 
#     "Mobile" : 
#     "Address" : 
#     "Alternate Number" : THIS IS NOT MANDATORY
    
# }

In [44]:
## 

stringName = "python program"
for each in stringName : 
    print(each, stringName.count(each))

p 2
y 1
t 1
h 1
o 2
n 1
  1
p 2
r 2
o 2
g 1
r 2
a 1
m 1

In [45]:
## 
dt = {}
stringName = "python program"
for each in stringName : 
    dt[each] = stringName.count(each)
dt

{'p': 2,
 'y': 1,
 't': 1,
 'h': 1,
 'o': 2,
 'n': 1,
 ' ': 1,
 'r': 2,
 'g': 1,
 'a': 1,
 'm': 1}