## Dictionary

- represented by keys and values. 
- Here, VALUES are the actual ones you will be designing CODE for. and for reference you use KEYS
- {}, {k1 : v1, k2 : v2 ....}
- Dictionary is a mutable
- Ordered object. ie, you can refer any VALUE by the KEY
- key is a IMMUTABLE. values are MUTABLE and Immutable
- store the multiple values

In [13]:
s1 = ["delhi", 
      2j, 
      14, 
      -6.4,
      False, 
      [1, 2, 3], 
      {4, 4, 4}, 
      {"A" : 100, "B" : 200},
     14]


for i in range(len(s1)) : 
    print( i, s1[i] )

# 0 1 2 3 5

0 delhi
1 2j
2 14
3 -6.4
4 False
5 [1, 2, 3]
6 {4}
7 {'A': 100, 'B': 200}
8 14

In [3]:
dt = {"a" : "delhi", 
      "b" : 2j, 
      "c" : 14, 
      "d" : -6.4,
      "e" : False, 
      "f" : [1, 2, 3], 
      "g" : {4, 4, 4}, 
      "h" : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

a delhi
b 2j
c 14
d -6.4
e False
f [1, 2, 3]
g {4}
h {'A': 100, 'B': 200}

In [5]:
dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

1 delhi
2 2j
3 14
4 -6.4
5 False
6 [1, 2, 3]
7 {4}
8 {'A': 100, 'B': 200}

In [18]:
dt = {11 : "delhi", 
      2.5 : 2j, 
      3j : 14, 
      (111, 222) : -6.4,
      True : False, 
      'listName' : [1, 2, 3], 
      'setName' : {4, 4, 4}, 
      'dictName' : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

print("-----------------")
print(dt[True])

11 delhi
2.5 2j
3j 14
(111, 222) -6.4
True False
listName [1, 2, 3]
setName {4}
dictName {'A': 100, 'B': 200}
-----------------
False

In [8]:
dt = {11 : "delhi", 
      2.5 : 2j, 
      3j : 14, 
      (111, 222) : -6.4,
      True : False, 
      [1, 2, 3]:  'listName' , 
      'setName' : {4, 4, 4}, 
      'dictName' : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

TypeError: unhashable type: 'list'

In [10]:
dt = {11 : "delhi", 
      2.5 : 2j, 
      3j : 14, 
      (111, 222) : -6.4,
      True : False, 
      {4, 4, 4} : 'setName' , 
      'dictName' : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

TypeError: unhashable type: 'set'

In [11]:
dt = {11 : "delhi", 
      2.5 : 2j, 
      3j : 14, 
      (111, 222) : -6.4,
      True : False, 
      {"A" : 100, "B" : 200} : 'dictName'}


for k, v in dt.items() : 
    print(k, v)

TypeError: unhashable type: 'dict'

**TIP :** 

If key value is not present, then the key-value pair is  inserted
If key value is present, then the value against key is  updated
Keys are Unique, but values can be repeated

In [14]:
dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      3 : [1, 2, 3], 
      7 : "delhi", 
      2 : {"A" : 100, "B" : 200}}


for k, v in dt.items() : 
    print(k, v)

1 delhi
2 {'A': 100, 'B': 200}
3 [1, 2, 3]
4 -6.4
5 False
7 delhi

## Basic Methods

In [15]:
## 1. len : return key-value pairs

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}

print(dt)
print(type(dt))
print(len(dt))

{1: 'delhi', 2: 2j, 3: 14, 4: -6.4, 5: False, 6: [1, 2, 3], 7: {4}, 8: {'A': 100, 'B': 200}}
<class 'dict'>
8

In [17]:
## 2. Index and Slice ::: NOT THERE :: Because, we are referring each of them by keys, not  positions
# Index : reading values against keys
# dict[keyName]

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}

print(dt)
# print(dt[1 : 3])
print(dt[3])

{1: 'delhi', 2: 2j, 3: 14, 4: -6.4, 5: False, 6: [1, 2, 3], 7: {4}, 8: {'A': 100, 'B': 200}}
14

In [21]:
# 3. Concat and Repeat XXXX

# {1 : 100, 2 : 200} + {"a" : 100, "b" : 200}
# {1 : 100, 2 : 200} * 20

In [23]:
# 4. Membership : 
# return true if keyName is present inside the dictionary


dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}

print(5 in dt)
print(14 in dt)

True
False

## Dictionary Methods

In [26]:
# print(dir(dict) )

# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

# 'fromkeys', 'get', 'setdefault', ,

In [29]:
## 1. keys : Read all the keys
# dt.keys() ## This is IMMUTABLE object and can't be accessed

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}
print(dt.keys())
# print(dt.keys()[3])

for iterator in dt.keys() : 
    print(iterator)

dict_keys([1, 2, 3, 4, 5, 6, 7, 8])
1
2
3
4
5
6
7
8

In [31]:
## 2. values : Read all the values
# dt.values() ## This is IMMUTABLE object and can't be accessed

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}
print(dt.values())
# print(dt.keys()[3])

for iterator in dt.values() : 
    print(iterator)

dict_values(['delhi', 2j, 14, -6.4, False, [1, 2, 3], {4}, {'A': 100, 'B': 200}])
delhi
2j
14
-6.4
False
[1, 2, 3]
{4}
{'A': 100, 'B': 200}

In [35]:
## 2. items : Read all the key-value
# dt.items() ## This is IMMUTABLE object and can't be accessed

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False, 
      6 : [1, 2, 3], 
      7 : {4, 4, 4}, 
      8 : {"A" : 100, "B" : 200}}
print(dt.items())
# print(dt.items()[3])

for iterator in dt.items() : 
    print(f"key : {iterator[0]} \t Value : {iterator[1]}")

print("---" * 30)
for k, v in dt.items() : 
    print(f"key : {k} \t Value : {v}")

dict_items([(1, 'delhi'), (2, 2j), (3, 14), (4, -6.4), (5, False), (6, [1, 2, 3]), (7, {4}), (8, {'A': 100, 'B': 200})])
key : 1 	 Value : delhi
key : 2 	 Value : 2j
key : 3 	 Value : 14
key : 4 	 Value : -6.4
key : 5 	 Value : False
key : 6 	 Value : [1, 2, 3]
key : 7 	 Value : {4}
key : 8 	 Value : {'A': 100, 'B': 200}
------------------------------------------------------------------------------------------
key : 1 	 Value : delhi
key : 2 	 Value : 2j
key : 3 	 Value : 14
key : 4 	 Value : -6.4
key : 5 	 Value : False
key : 6 	 Value : [1, 2, 3]
key : 7 	 Value : {4}
key : 8 	 Value : {'A': 100, 'B': 200}

In [39]:
# 4. Insert a key value pair if KEY is not present
# dt[keyName] = value
# dt.update( {k : v} )

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}

dt[10] = "Nitish"
dt

{1: 'delhi', 2: 2j, 3: 14, 4: -6.4, 5: False, 10: 'Nitish'}

In [40]:
# 4. Insert a key value pair if KEY is not present
# dt[keyName] = value
# dt.update( {k : v} )

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}

dt.update( {10 : "Nitish"} )
dt

{1: 'delhi', 2: 2j, 3: 14, 4: -6.4, 5: False, 10: 'Nitish'}

In [41]:
# 5. Update a key value pair if KEY is present
# dt[keyName] = value
# dt.update( {k : v} )

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}

dt[2] = "Nitish"
dt

{1: 'delhi', 2: 'Nitish', 3: 14, 4: -6.4, 5: False}

In [42]:
# 5. Update a key value pair if KEY is present
# dt[keyName] = value
# dt.update( {k : v} )

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}

dt.update( {2 : "Nitish"} )
dt

{1: 'delhi', 2: 'Nitish', 3: 14, 4: -6.4, 5: False}

In [48]:
# 6. pop : remove the value against the key and return that value. shows key error if key is not found

dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}
print( dt.pop(3) )
print( dt )

KeyError: 10

In [52]:
# 7. popitem : remove the last value and return key-value pair


dt = {1 : "delhi", 
      2 : 2j, 
      3 : 14, 
      4 : -6.4,
      5 : False}
print( dt.popitem() )
print( dt )

print( dt.popitem() )
print( dt )


print( dt.popitem() )
print( dt )


print( dt.popitem() )
print( dt )

print( dt.popitem() )
print( dt )

(5, False)
{1: 'delhi', 2: 2j, 3: 14, 4: -6.4}
(4, -6.4)
{1: 'delhi', 2: 2j, 3: 14}
(3, 14)
{1: 'delhi', 2: 2j}
(2, 2j)
{1: 'delhi'}
(1, 'delhi')
{}