# Loops

### for loop: 

#### TO Repeat something
for i in range(start, end, step) : 
    statement
    statement
    statement   # i = i + step
    
    
#### Here sequence conditions apply

**Positions**

for i in range( len(seqName) ) : 
    print(seqName[i])
    
**Values**
for i in seqName : 
    print(i)

In [2]:
# Use a loop to take fruit name from the user and disply it to the output screen. also display the length and remove blank spaces....
# do it for 5 fruits...

#     apple               : 
# Apple has length 5


#     mangoes: 
# Mangoes has length 7

# for i in range(1, 6) : # 1 2 3 4 5
fruit = input("Write Fruit Name : ").strip()
# fruit = fruit.strip()
print( f"{fruit.title()} has length {len(fruit)}" )

Write Fruit Name :   apple
Apple has length 5

In [4]:
for i in range(5) : # start : 0 end : 4 
    print(i)

0
1
2
3
4

In [5]:
for i in range(11, 16) : 
    print(i)

11
12
13
14
15

In [8]:
for nitish in range(10) : 
    print(nitish)   # nitish = nitish + 1

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1, 10, 2) : 
    print(i) # i = i + 2

1
3
5
7
9

In [10]:
for j in range(6, 1, -1) : # 6 5 4 3 2 XXX1
    print(j)

6
5
4
3
2

In [11]:
for i in range(1, 6) : # 1 2 3 4 5
    fruit = input("Write Fruit Name : ").strip()
    print( f"{fruit.title()} has length {len(fruit)}" )

Write Fruit Name :   apple
Apple has length 5
Write Fruit Name : mangoes
Mangoes has length 7
Write Fruit Name :    grapes
Grapes has length 6
Write Fruit Name :    custard apple
Custard Apple has length 13
Write Fruit Name :                        kiwi
Kiwi has length 4

In [12]:
# for i in range(len(list)) : #########[10 20 30 58 48]  #5 times
#     pop : 
        
#         [10 20 30 58 ]
#         [10 20 30 ]

In [ ]:
## Pattterns : 

*
**
***

In [16]:
for i in range(3) : # 0 1 2
    print(i, "*")

0 *
1 *
2 *

In [22]:
for i in range(3) :     # 0 1 2
    print( (i+1) * "*") # 1 2 3

*
**
***

In [23]:
for i in range(1, 4) : #  1 2 3
    print(i * "*")

*
**
***

In [ ]:
## Pattterns : 

*****
****
***
**
*

In [25]:
for s in range(5, 0, -1) : # 5 4 3 2 1
    print(s * "*")

*****
****
***
**
*

In [ ]:
## Pattterns : 

1
22
333
4444
55555
666666

In [27]:
for i in range(1, 7) : # 1 2 3 4 5 6
    print(i)

1
2
3
4
5
6

In [30]:
for i in range(1, 7) : # 1 2 3 4 5 6
    print(str(i) * i)

1
22
333
4444
55555
666666

In [ ]:
## Pattterns : 

j
aa
vvv
aaaa

In [50]:
word = "java"

for w in range( len(word) ) : 
    print(w, word[w])

0 j
1 a
2 v
3 a

In [52]:
word = "java"

for w in range( len(word) ) : 
    print((w+1) * word[w])

j
aa
vvv
aaaa

## Using For Loops to iterate over the sequence by referring to its POSITIONS

In [ ]:
## How to Iterate on the String
# By referring to character's positions inside string

In [33]:
stringName = "python"
             #0 1 2 3 4 5 

for i in range( 0, len(stringName) ) : 
    print( f"i = {i}", f"Charachter Value : {stringName[i]}" )

i = 0 Charachter Value : p
i = 1 Charachter Value : y
i = 2 Charachter Value : t
i = 3 Charachter Value : h
i = 4 Charachter Value : o
i = 5 Charachter Value : n

In [54]:
stringName = "python"
             #0 1 2 3 4 5 

for i in range( 0, 10 ) : 
    print( f"i = {i}", f"Charachter Value : {stringName[i]}" )

i = 0 Charachter Value : p
i = 1 Charachter Value : y
i = 2 Charachter Value : t
i = 3 Charachter Value : h
i = 4 Charachter Value : o
i = 5 Charachter Value : n

IndexError: string index out of range

In [36]:
# find the message if you use alphabet...
encryptedCode = "#$%^&A]['.55I585/*-*&^%$M']"

for s in range( len(encryptedCode) ) : 
    print(s, encryptedCode[s])

0 #
1 $
2 %
3 ^
4 &
5 A
6 ]
7 [
8 '
9 .
10 5
11 5
12 I
13 5
14 8
15 5
16 /
17 *
18 -
19 *
20 &
21 ^
22 %
23 $
24 M
25 '
26 ]

In [49]:
# find the message if you use alphabet...
encryptedCode = "#$%^&A]['.55I585/*-*&^%$M']"

for s in range( len(encryptedCode) ) : 
    if encryptedCode[s].isalpha() : 
        print(encryptedCode[s])

A
I
M

In [46]:
# find the message if you use alphabet...
encryptedCode = "#$%^&A]['.55I585/*-*&^%$M']"
result = ""

for s in range( len(encryptedCode) ) : 
    if encryptedCode[s].isalpha() : 
        result = result + encryptedCode[s]

print(result)

AIM

In [ ]:
## How to Iterate on the List
# By referring to element positions inside list

In [55]:
listName = [10, 25, 47, -54 , 23]
#           0  1    2   3    4

for i in range(len(listName)) : 
    print(f"Position : {i}, Value : {listName[i]}")

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Position : 3, Value : -54
Position : 4, Value : 23

In [ ]:
## Hint : string split + testcase + list append

In [60]:
# Find the OTP
message = "an otp 5454 is shared on mobile. "
res = message.split(" ")
print(res)
otp = ""


for i in range( len(res) ) : 
#     print(i, res[i])
    if res[i].isdigit() : 
        otp = res[i]
print(f"OPT Received : {otp}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile.', '']
OPT Received : 5454

In [64]:
# Find the OTP and mobile number
message = "an otp 5454 is shared on mobile number 8745121203"

res = message.split(" ")
print(res)
otp = ""
mobile = ""

for i in range( len(res) ) : 
#     print(i, res[i])
    if res[i].isdigit() and len(res[i])<10: 
        otp = res[i]
        print(otp)
    elif res[i].isdigit() and len(res[i])==10: 
        mobile = res[i]
        print(mobile)

# print(f"OPT Received : {otp}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8745121203']
5454
8745121203

In [73]:
# Find the OTP and mobile number
message = "an otp 5454 is shared on mobile number 8745121203"
# message = "an otp shared on mobile "

res = message.split(" ")
print(res)

for i in range( len(res) ) : 
#     print(i, res[i])
    if res[i].isdigit():
        if len(res[i]) < 10 : 
            print(f"OTP : {res[i]}")
        elif len(res[i])==10: 
            print(f"Mobile : {res[i]}")
    else : 
        pass

# print(f"OPT Received : {otp}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8745121203']
OTP : 5454
Mobile : 8745121203

In [ ]:
# Find Valid mobile number and email

# message = an otp 5454 is shared on mobile number 8745121203 and nitish@gmail.com

In [78]:
message = "an otp 5454 is shared on mobile number 8745121203 and nitish@gmail.com"
res = message.split(" ")
print(res)

for i in range( len(res) ) : 
    if res[i].isdigit() and len(res[i])==10: 
        print(f"Mobile : {res[i]}")
   
    if   "@" in res[i]: 
        print(f"Email : {res[i]}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8745121203', 'and', 'nitish@gmail.com']
Mobile : 8745121203
Email : nitish@gmail.com

In [ ]:
# Find Valid mobile number and email
# message = an otp 5454 is shared on mobile number 8745121203 9965842 nitish@gmail.com and company@yahoo@.com

In [89]:
# Find Valid mobile number and email
message = "an otp 5454 is shared on mobile number 8745121203 9965842 nitish@gmail.com and company@yahoo@.com"
res = message.split(" ")
print(res)

for i in range( len(res) ) : 
    if res[i].isdigit() and len(res[i])==10: 
        print(f"Mobile : {res[i]}")
   
    if   "@" in res[i]: 
        if res[i].count("@") == 1 : 
            print(f"Email : {res[i]}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8745121203', '9965842', 'nitish@gmail.com', 'and', 'company@yahoo@.com']
Mobile : 8745121203
Email : nitish@gmail.com

In [ ]:
"8745121203"
"nitish@gmail.com"

In [94]:
# Find Valid mobile number and email
message = "an otp 5454 is shared on mobile number 8745121203 9965842 nitish@gmail.com and company@yahoo@.com"
res = message.split(" ")
print(res)

for i in range( len(res) ) : # 0 - len(res)
#     print(i, res[i])
    if res[i].isdigit() and len(res[i])==10: 
        print(f"Mobile : {res[i]}")
   
    if   "@" in res[i] and res[i].count("@") == 1 : 
            print(f"Email : {res[i]}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8745121203', '9965842', 'nitish@gmail.com', 'and', 'company@yahoo@.com']
Mobile : 8745121203
Email : nitish@gmail.com

In [126]:
# Find Valid mobile number and email and save it

message = "an otp 5454 is shared on mobile number 8744121035 8745121203 9965842 nitish@gmail.com and company@yahoo@.com abc@hotmail.com"
res = message.split(" ")
print(res)

mobile = []
email = []



for i in range( len(res) ) : # 0 - len(res)
#     print(i, res[i])
    if res[i].isdigit() and len(res[i])==10: 
#         print(f"Mobile : {res[i]}")
        mobile.append(res[i])
    else : 
        pass
   
    if   "@" in res[i] and res[i].count("@") == 1 : 
#             print(f"Email : {res[i]}")
        email.append(res[i])
    else : 
        pass

print(f"Mobile numbers => {mobile}")
print(f"Email Addresses => {email}")

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile', 'number', '8744121035', '8745121203', '9965842', 'nitish@gmail.com', 'and', 'company@yahoo@.com', 'abc@hotmail.com']
Mobile numbers => ['8744121035', '8745121203']
Email Addresses => ['nitish@gmail.com', 'abc@hotmail.com']

## Using For Loops to iterate over the sequence by referring to its VALUES

In [99]:
## How to Iterate on the String
# By referring to character's VALUES inside string

In [33]:
stringName = "python"

for i in range( 0, len(stringName) ) : 
    print( f"i = {i}", f"Charachter Value : {stringName[i]}" )

i = 0 Charachter Value : p
i = 1 Charachter Value : y
i = 2 Charachter Value : t
i = 3 Charachter Value : h
i = 4 Charachter Value : o
i = 5 Charachter Value : n

In [100]:
stringName = "python"

for i in stringName : 
    print( f"Charachter Value : {i}" )

Charachter Value : p
Charachter Value : y
Charachter Value : t
Charachter Value : h
Charachter Value : o
Charachter Value : n

In [103]:
# find the message if you use alphabet...
encryptedCode = "#$%^&A]['.55I585/*-*&^%$M']"
result = ""

for s in range( len(encryptedCode) ) : 
    if encryptedCode[s].isalpha() : 
        print(s, encryptedCode[s])
        result = result + encryptedCode[s]

print(result)

5 A
12 I
24 M
AIM

In [104]:
# find the message if you use alphabet...
encryptedCode = "#$%^&A]['.55I585/*-*&^%$M']"
result = ""

for s in encryptedCode : 
    if s.isalpha() : 
        print(s)
        result = result + s

print(result)

A
I
M
AIM

# Break and Continue

### Break

- It will terminate the LOOP in which it is applied
- It will stop the program if expression is TRUE
- NO statement written after break is executed

In [108]:
listName = [10, 25, 47, -54 , 23 , -11, 70]

for i in range(len(listName)) : 
    print(f"Position : {i}, Value : {listName[i]}")

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Position : 3, Value : -54
Position : 4, Value : 23
Position : 5, Value : -11
Position : 6, Value : 70

In [109]:
# Display all the positive values and stop if any negative values comes up
listName = [10, 25, 47, -54 , 23 , -11, 70]

for i in range(len(listName)) : 
    if listName[i] < 0 : 
        print("Its Negative")
        break
        print(".............. ENDING.........")
    else : 
        print(f"Position : {i}, Value : {listName[i]}")

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Its Negative

### Continue

- It will skip the program if expression is TRUE
- NO statement written after continue is executed

In [108]:
listName = [10, 25, 47, -54 , 23 , -11, 70]

for i in range(len(listName)) : 
    print(f"Position : {i}, Value : {listName[i]}")

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Position : 3, Value : -54
Position : 4, Value : 23
Position : 5, Value : -11
Position : 6, Value : 70

In [124]:
# Display ONLY positive values 

## This is working fine.....
pass
listName = [10, 25, 47, -54 , 23 , -11, 70]

for i in range(len(listName)) : 
    if listName[i] < 0 : 
        continue
        print(".............. ENDING.........")
    else : 
        print(f"Position : {i}, Value : {listName[i]}")

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Position : 4, Value : 23
Position : 6, Value : 70

### PASS

- it just passes

In [129]:
pass
pass
pass
pass
print(14 * 47)
pass
pass
pass
pass
print(14 * 6)

658
84

In [1]:
### sssjuc
# display total characters and remove blank space

# apple
# apple has lenght 5
pmmmmmmmmmmmmmmmmmmm]p;;u.p
#    grapes   
# grapes has lenght 6

#  6874561
# INVALID NAME. STOP

In [130]:

for i in range(5) : 
    
    fruit = input("Fruit Name :").strip()
    print(f"{fruit} has length {len(fruit)}")

Fruit Name :apple
apple has length 5
Fruit Name :   mangoes
mangoes has length 7
Fruit Name :grape
grape has length 5
Fruit Name :   custard apple
custard apple has length 13
Fruit Name :   kiwi
kiwi has length 4

In [1]:
for i in range(5) : 
    
    fruit = input("Fruit Name :").strip()
    if fruit.isdigit() : # isspace()
        print("INVALID NAME")
        break
    
    else : 
        print(f"{fruit} has length {len(fruit)}")

Fruit Name :asdfasd
asdfasd has length 7
Fruit Name :dsafe65e6
dsafe65e6 has length 9
Fruit Name :56356345
INVALID NAME

In [133]:
for i in range(5) : 
    
    fruit = input("Fruit Name :").strip()
    if fruit.isdigit() : # isspace()
        print("INVALID NAME")
        break
    print(f"{fruit} has length {len(fruit)}")

Fruit Name :  apple
apple has length 5
Fruit Name :mangoes
mangoes has length 7
Fruit Name :4542
INVALID NAME

In [ ]:
### Take fruit name from the user and if that word is digit then skip
# maximum loop is 5
# display total characters and remove blank space

# apple
# apple has lenght 5

#    grapes   
# grapes has lenght 6

#  6874561
# INVALID NAME. skip

#    kiwi   
# kiwi has lenght 4

In [134]:
for i in range(5) : 
    
    fruit = input("Fruit Name :").strip()
    if fruit.isdigit() : # isspace()
        print("INVALID NAME")
        continue
    
    print(f"{fruit} has length {len(fruit)}")

Fruit Name :  apple
apple has length 5
Fruit Name :grapes
grapes has length 6
Fruit Name :38425
INVALID NAME
Fruit Name :kiwi
kiwi has length 4
Fruit Name :       watermelon
watermelon has length 10

In [135]:
for i in range(5):
    
    frt=input("please enter fruit name:")
    frt=frt.strip()
    if frt[i].isalpha():
        print(f"{frt} has length ")
    else:
        print("invalid fruit name")
        break

please enter fruit name: apple
apple has length
please enter fruit name:541254
invalid fruit name

## Ternary Operations

- if else in a single line. its possible if you have single statement to be worked on

Synatx : 

if expression : 
    output_if
else : 
    output_else

output_if if expression else output_else

In [ ]:
import math # just a Python package
# import means call the package/library to the python enviroment

In [137]:
## given a string find suqre of number if its less that 0 else find log
import math

number = int( input("Number : ") )
if number < 0 : 
    print(f"square of number = { math.pow(number , 2)  }")
else : 
    print(f"log of number = { math.log(number) }")

Number : -3
square of number = 9.0

In [141]:
## given a string find suqre of number if its less that 0 else find log
import math

number = int( input("Number : ") )
output = f"square of number = { math.pow(number , 2)  }" if number < 0 else f"log of number = { math.log(number) }"
print(output)

Number : -65
square of number = 4225.0

In [145]:
# naman is palindrome
# pool is not palindrome

word = input ('enter the word : ')
output = 'palindrome' if word[::1] == word [::-1] else 'not palindrome'
print (output)

enter the word : Naman
not palindrome

In [146]:
word[::1]

'Naman'

In [147]:
word [::-1]

'namaN'

In [149]:
if 0 : 
    print("Blue")
else :
    print("Yellow")

Yellow

In [150]:
print( 'yellow' if True else "blue" )

yellow

In [151]:
print( 'yellow' if 1 else "blue" )

yellow

In [152]:
word = "pool"
print( 1 if word[::1] == word [::-1] else 0 )

0

In [153]:
word = "pool"
myList = ['Yellow', "Blue"]
myList[1 if word[::1] == word [::-1] else 0]   # List Ternary

'Yellow'

## List Comprehension

- Creating a list by using ternary operations and loops
- You can use ternary only if single statements are there

- Store the values only

    [output_of_FOR for value in listName]
    
    [output_of_FOR for value in range()]


- Store the values when ONLY IF expression is applied

    [output_of_FOR for value in listName if expression]


- Store the values when ONLY IF-ELSE expression is applied

    [output_of_if if expression else OUTPUT_Else for value in listName ]

In [154]:
# Take 5 fruit names and save it into list

myList = []
for i in range(5) : 
    fruit = input("Fruit Name :").strip()
    myList.append(fruit)
print( myList )

Fruit Name :apple
Fruit Name :g
Fruit Name :g
Fruit Name :r
Fruit Name :a
['apple', 'g', 'g', 'r', 'a']

In [161]:
# Take 5 fruit names and save it into list

myList = []
for i in range(5) : 
    myList.append(input("Fruit Name :").strip())
print( myList )


myList = [ input("Fruit Name :") for i in range(5) ]
print( myList )

Fruit Name :a
Fruit Name :s
Fruit Name :d
Fruit Name :f
Fruit Name :g
['a', 's', 'd', 'f', 'g']
Fruit Name :a
Fruit Name :s
Fruit Name :d
Fruit Name :f
Fruit Name :g
['a', 's', 'd', 'f', 'g']

In [ ]:
# Take 5 fruit names and save it into list by LIST Comprehension

# myList = []
# for i in range(5) : 
#     myList.append(input("Fruit Name :").strip())
# print( myList )

In [159]:
# you have a list of numbers. you have to save it inot another list using loops

inputList = [10 , -6 , 70 , 4 , -14]
myList = inputList.copy()
print( myList )

[10, -6, 70, 4, -14]

In [160]:
# you have a list of numbers. you have to save it inot another list using loops

inputList = [10 , -6 , 70 , 4 , -14]
myList = []
for i in inputList : 
    myList.append( i )
print( myList )

[10, -6, 70, 4, -14]

In [162]:
# you have a list of numbers. you have to save it inot another list using loops

inputList = [10 , -6 , 70 , 4 , -14]
myList = [i for i in inputList]

print( myList )

[10, -6, 70, 4, -14]

In [168]:
# you have a list of numbers. you have to save it inot another list using loops such that only POSITIVE numbers are there

inputList = [10 , -6 , 70 , 4 , -14]
myList = []
for i in inputList : 
    if i > 0 : 
        myList.append( i )
print( myList )

myList = [ i for i in inputList if i > 0  ]
print( myList )

[10, 70, 4]
[10, 70, 4]

In [174]:
# you have a list of numbers. you have to save it inot another list using loops such that only POSITIVE numbers are there

inputList = [10 , -6 , 70 , 4 , -14]
myList = []
for i in range( len(inputList) ) : 
    if inputList[i] > 0 : 
        myList.append( inputList[i] )
print( myList )

myList = [ inputList[i] for i in range(len(inputList)) if inputList[i] > 0  ]
print( myList )


# myList = [ inputList[i] if inputList[i] > 0  for i in range(len(inputList))  ]
# print( myList )

[10, 70, 4]
[10, 70, 4]

In [170]:
# you have a list of numbers. you have to save it inot another list using loops
# such that, positive numbers log is taken and negative numbers square is taken

import math
inputList = [10 , -6 , 70 , 4 , -14]
myList = []

for i in inputList : 
    if i < 0 : 
        myList.append( math.pow(i, 2) )
    else : 
        myList.append( math.log(i) )

print( myList )

[2.302585092994046, 36.0, 4.248495242049359, 1.3862943611198906, 196.0]

In [171]:
# you have a list of numbers. you have to save it inot another list using List Comprehension
# such that, positive numbers log is taken and negative numbers square is taken

import math
inputList = [10 , -6 , 70 , 4 , -14]
myList = [ math.pow(i, 2) if i < 0 else math.log(i) for i in inputList ]
print( myList )

[2.302585092994046, 36.0, 4.248495242049359, 1.3862943611198906, 196.0]

In [172]:
### ERROR

# you have a list of numbers. you have to save it inot another list using List Comprehension
# such that, positive numbers log is taken and negative numbers square is taken

import math
inputList = [10 , -6 , 70 , 4 , -14]
myList = [ math.pow(i, 2) for i in inputList if i < 0 else math.log(i)  ]
print( myList )

SyntaxError: invalid syntax (2834286947.py, line 6)

In [ ]:
# input : 
fruit = [ "apple", "CustARD Apple", " ManGO   ", "   kiWI", " pineAPPLE  " ]

# output : 
fruit = [ "apple", "CustARD Apple"," pineAPPLE  " ]

# extracting only fruits containing apple

In [ ]:
# input : 
fruit = [ "apple", "CustARD Apple", " ManGO   ", "   kiWI", " pineAPPLE  " ]

# output : 
fruit = [ "APPLE", "CUSTARD APPLE", "mango", "kiwi", "PINEAPPLE" ]

# if apple is there then uppercase + strip else lowercase + strip