# Loops

- repeat something
- how many times ???
- define it with range...

### Syntax of FOR LOOP

- i in iterator. this can be any variable (only alphabets) 
- the life cycle of iterator is limited to loops and if used outside , then it will refer to the last value
- range is the sequence within which it defines, how many times to repeat
- at the end of the for block, i is automatically incremented by 1


for i in range(start, end) : 
    statements
    statements
    last_statements

In [ ]:
1 - 3
1 - 5

In [1]:
# range(start, end, step) : provides a sequence of numbers between start to end
# end is not included...
# default value of start is 0
# step is default 1

In [2]:
range(1 , 10)

range(1, 10)

In [3]:
list( range(1 , 10) )

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list( range(10) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range(1, 10) : 
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
# Repeat earth 5 times

print("Earth")
print("Earth")
print("Earth")
print("Earth")
print("Earth")

Earth
Earth
Earth
Earth
Earth

In [6]:
# Repeat earth 5 times

for i in range(1, 6) : # 1 2 3 4 5
    print("Earth")

Earth
Earth
Earth
Earth
Earth

In [8]:
# Repeat earth 5 times

for i in range(1, 6) : # 1 2 3 4 5
    print('i => ', i)
    print("Earth")  # ................... i = i + 1

print("---" * 30)

i =>  1
Earth
i =>  2
Earth
i =>  3
Earth
i =>  4
Earth
i =>  5
Earth
------------------------------------------------------------------------------------------

In [10]:
# take 3 animal names from the user and display it

animalName = input("Mention Animal Name => ")
print("Animal Name taken as INPUT :: ", animalName)

animalName = input("Mention Animal Name => ")
print("Animal Name taken as INPUT :: ", animalName)

animalName = input("Mention Animal Name => ")
print("Animal Name taken as INPUT :: ", animalName)

Mention Animal Name => lion
Animal Name taken as INPUT ::  lion
Mention Animal Name => tiger
Animal Name taken as INPUT ::  tiger
Mention Animal Name => zebra
Animal Name taken as INPUT ::  zebra

In [11]:
# take 3 animal names from the user and display it

for i in range(3) : # 0 1 2

    animalName = input("Mention Animal Name => ")
    print("Animal Name taken as INPUT :: ", animalName)

Mention Animal Name => lion
Animal Name taken as INPUT ::  lion
Mention Animal Name => tiger
Animal Name taken as INPUT ::  tiger
Mention Animal Name => zebra
Animal Name taken as INPUT ::  zebra

In [12]:
animalName = input("Mention Animal Name => ")

Mention Animal Name => lion tiger zebra

In [14]:
res = animalName.split(" ")

In [15]:
res

['lion', 'tiger', 'zebra']

In [17]:
a1 = res[0]
a2 = res[1]
a3 = res[2]

print(a1)
print(a2)
print(a3)

lion
tiger
zebra

In [29]:
a1, a2, a3 = input("Mention Animal Name with SPACES => ").strip().split(" ")

print(a1)
print(a2)
print(a3)

Mention Animal Name with SPACES =>     10 20 30
10
20
30

In [21]:
x, y = 10, 20

print(x)
print(y)

10
20

In [22]:
x, y, z = 10, 20

print(x)
print(y)

ValueError: not enough values to unpack (expected 3, got 2)

In [23]:
x, y = 10, 20, 30

print(x)
print(y)

ValueError: too many values to unpack (expected 2)

In [24]:
x, y = [10, 20]

print(x)
print(y)

10
20

In [30]:
stringName = "python" # 6
listName = [10, 20 , 50] # 3

In [33]:
for i in range(0, len(stringName)) : 
    print(i, stringName[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [34]:
for i in range(0, len(listName)) : 
    print(i, listName[i])

0 10
1 20
2 50