# Tuple

- collection of heterogeneous (different datatype) elements
- ()
- ImMutable object - CANNOT manipulate at any position inside the sequence
- Ordered object - the positions will not change. access any element wrt POSITIONS
- store the multiple values

- multiple elements can be written like (x, y, z, q)
- sinlge elements can be written like (x, )

In [29]:
s1 = ()
type(s1)

tuple

In [2]:
s1 = ("delhi", 2j, 14, -6.4, False)
print( type(s1) )
s1

<class 'tuple'>

('delhi', 2j, 14, -6.4, False)

In [3]:
## Basic Properties

In [4]:
len(s1)

5

In [5]:
# 4. concat - merge 2 or more tuple to create a single tuple


(14 , 15) + ("Nitish", False, -6)

(14, 15, 'Nitish', False, -6)

In [6]:
# 5. repeat
# tupleName * number

(14, 42, 20) * 3

(14, 42, 20, 14, 42, 20, 14, 42, 20)

In [8]:
# Index : tupleName[pos]

s1 = ("delhi", 2j, 14, -6.4, False)
# print( type(s1) )
print( s1[3] )
print( s1[0] )

-6.4
delhi

In [18]:
s1 = ("delhi", 2j, 14, -6.4, False)

s1[ : 3] # 0 1 2 ?????????????????

('delhi', 2j, 14)

In [22]:
x = [14]
print( type(x) )

<class 'list'>

In [20]:
x = 100
print( type(x) )

<class 'int'>

In [21]:
x = 100.5
print( type(x) )

<class 'float'>

In [24]:
x = (145,)
print( type(x) )

<class 'tuple'>

## Tuple Methods

In [31]:
print( dir(tuple) )

# 'count', 'index'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [12]:
s1 = ("delhi", 2j, 14, -6.4, False, 14, 14, False)

s1.count(True)

0

In [15]:
s1.count(False)

2

In [16]:
s1 = ("delhi", 2j, 14, -6.4, False, 14, 14, False)

# -6.4
s1.index(-6.4)

3

In [17]:
s1.index(False)

4

In [30]:
s1 = ("delhi", 2j, 14, -6.4, False)
s1.insert(1, 999)

AttributeError: 'tuple' object has no attribute 'insert'

In [32]:
s1 = ("delhi", 2j, 14, -6.4, False)
s1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [34]:
s1 = ("delhi", 2j, 14, -6.4, False)
s1[2] = 21545621

TypeError: 'tuple' object does not support item assignment

list

- mutable
- Less secure
- application : csv, excel, text ....


tuple
- immutable
- More secure
- application : wifi packet, database records

In [36]:
s1 = ("delhi", 2j, 14, -6.4, False)
print(s1)
print( id(s1) )

s2 = list(s1)
print(s2)
print( id(s2) )

s2.pop()
s3 = tuple(s2)
print(s3)
print( id(s3) )

('delhi', 2j, 14, -6.4, False)
2373653347920
['delhi', 2j, 14, -6.4, False]
2373653371840
('delhi', 2j, 14, -6.4)
2373654578016

In [40]:
tt = [10 , -6 , 7 , 11 , -4]

# remove 7 : Index + Slice + Concat
pos = tt.index(7)
pos

res = tt[ : pos] + tt[pos+1 : ]
res

[10, -6, 11, -4]

In [ ]:
# [10 , -6, 11 , -4]

In [38]:
tt[ : 2]

[10, -6]

In [44]:
tt[2 + 1    : ]

[11, -4]

In [45]:
tt = (10 , -6 , 7 , 11 , -4)

# remove 7 : Index + Slice + Concat
pos = tt.index(7)
pos

res = tt[ : pos] + tt[pos+1 : ]
res

(10, -6, 11, -4)

In [50]:

tt = (10 , -6 , 7 , 11 , -4)

# replace 7 by 0
pos = tt.index(7)
pos

res = tt[ : pos] + (0, ) +  tt[pos+1 : ]
res

(10, -6, 0, 11, -4)

In [48]:
id(tt)

2373653651920

In [49]:
id(res)

2373624079040

In [ ]:

tt = (10 , -6 , 7 , 11 , -4)


# insert 0 after 7 
# (10 , -6 , 7, 0 , 11 , -4)

pos = tt.index(7)
pos

res = tt[ : pos] + (0, ) +  tt[pos+1 : ]
res

In [ ]:
# take the value from the user
# value inside tuple
# position of the tuple